src/a1xcoind
src/test_a1xcoin

# Ignore build dir
build/

# Compilation and Qt preprocessor part
*.qm
Makefile
a1xcoin-qt

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
